@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Duc </title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Dancing Script&effect=neon|outline|emboss|shadow-multiple"
            rel="stylesheet"
        />
        <style>
            body {
                margin: 0;
                font-family: Arial;
            }
            #Footer {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                height: 200px;
                margin-bottom: 0px;
                padding-left: 20px;
                padding-right: 20px;
                background-color: white;
            }

            #Footer h3{
                color: darkgreen;
                font-weight: bold;

            }

            #Footerp2 {
                margin-left: 50px;
            }

            #Footerp2 h3{
                margin-left: 15px;
            }
            #Footerp2icons {
                display: flex;
                flex-direction: row;
            }
            #Footerp2icons a {
                font-size: 30px;
                padding: 3px;
                color: black;
                margin: 2px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                text-align: center;
            }

            #Footerp2icons a:hover {
                background-color: green;
                color: white;
            }
        </style>
    </head>
    <body>
        <!--Footer  -->

        <div id="Footer">
            <div id="Footerp1">
            <h3>@localizer["Contact us"]:</h3>
            <p><i class="fa-solid fa-phone"></i> @localizer["Tel"]: 001122XXYY</p>
                <p><i class="fa-solid fa-envelope"></i> Email: ducshop@example.com</p>
            <p><i class="fa-sharp fa-solid fa-location-dot"></i> @localizer["Address"]: ABC Street</p>
            </div>

            <div id="Footerp2">
            <h3>@localizer["Follow DUC SHOP on"]:</h3>
                <div id="Footerp2icons">
                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                    <a href="#">
                        <img
                            src="https://img.icons8.com/ios-filled/30/000000/zalo.png"
                        />
                    </a>
                </div>
            </div>
        </div>
        <br />
        <!--End of Footer  -->

        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
    </body>
</html>
