<div class="offcanvas offcanvas-start" id="left-offcanvas">
    <div class="offcanvas-header">
      <h3 class="offcanvas-title">

            <img src="~/images/product/shop1.png" alt="Avatar Logo"
               style="width:50px; height:50px ;
               text-shadow: 3px 3px 3px #ababab; "
               class="rounded border border-primary">
            <span  style="color: green ;
            text-shadow: 3px 3px 3px #ababab;
            font-family: 'Trirong', serif;
            " >
               DUC-SHOP
            </span>

      </h3>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
        <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
        <a asp-area="" asp-controller="Products" asp-action="Contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <button class="btn btn-secondary" type="button">A Button</button>
    </div>
  </div>
